@charset "utf-8";

body{
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  display: flex;
}

.title{
  width: 50%;
}

#now{
  width: 50%;
  text-align: right;
}

main{
  background: pink;
  padding-bottom: 100px;
  z-index: -2;
  /* height: 100vh; */
}

article{
  max-width: 767px;
  margin: 24px auto 0;
  padding: 0 16px;
  text-align: center;
}

footer{
  background: lightgreen;
  bottom: 0;
  width: 100%;
}

.copyright{
  padding: 20px;
  text-align: right;
}

/* css 入れ子 start */
.card{
  border: 1px #333 solid;
  box-sizing: border-box;
  padding: 16px;
  max-width: 700px;
  margin: 10px auto 0;

  &:hover{
    box-shadow: 0 0 8px rgb(0 0 0 / 0.3);
  }

  h2 {
  margin: 0;
  border-bottom: 1px solid #333;
  text-align: center;
  padding-bottom: 8px;
  font-size: 18px;

  @media (width >= 600px){
    text-align: left;
    color: red;
  }
}

p{
  margin: 16px 0 0;
  line-height: 1.6;
}
}
/* css 入れ子 end */

/* kv */
.kv{
  width: 100%;
  text-align: center;
}

.kv-img{
  width: 100%;
  max-width: 1000px;
}

/* スライドショー */

img{
  vertical-align: bottom;
}

.container{
  display: flex;
  gap:8px;
  margin-top: 8px;
  justify-content: center;
}

button{
  all: unset;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
  background: #fff;
}

.thumbnail{
  cursor: pointer;
  opacity: .4;
}

.active{
  opacity: 1;
}

/* モーダルウィンドウ */
#open, #close{
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  background: #fff;
}

#mask{
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#modal{
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform .8s;
  z-index: 2;
}

#modal p{
  margin:0 0 20px;
}

#mask.hidden{
  display: none;
}

#modal.hidden {
  transform: translate(0, 100vh);
}

/* DOM */
.dom{
  text-align: center;
  z-index: 3;
}

.dom button{
  display: block;
  margin: 20px auto 0;
  z-index: 4;
}

.pink-bg{
  background: palevioletred;
}

.red-border{
  border:2px solid red;
}

.green-color{
  color: green;
}

/* jQuery modal 1 */
/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .8;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.modal {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: none;
  z-index: 6;
}

.modal p{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: 14px;
}

.modal p img{
  width: 100%;
}

.modal-close__wrap {
  position: absolute;
  right: -13px;
  top: -120px;
  background:#fff;
  padding: 4px;
}

.modal-close {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
  z-index: 8;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.modal-open {
  cursor: pointer;
  background: orange;
  border: orange;
  color: #fff;
  padding: 10px 12px;
}

.overlay.open {
  display: block;
}

.modal.open {
  display: block;
} */

/* jQuery carousel */
.slide-items{
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slide-items img{
  width: 100%;
  object-fit: cover;
}
.slide-items ul{
  margin: 10px;
  padding: 0;
}

.slick-slider{
  padding: 0 20px 0;
}

.slick-dots li button:before{
  font-size: 20px;
}

.slick-dots{
  right: 0;
}

.slick-prev:before, .slick-next:before{
  color: #333;
}

/* jQuery modal 2 */
article .modal-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-open{
	display: flex;
  align-items: center;
  justify-content: center;
	width: 300px;
	height: 50px;
	font-weight: bold;
	color: #fff;
	background: #000;
  gap:20px;
	cursor: pointer;
	/* transform: translate(-50%,-50%); */
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
}

/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
  position: fixed;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
  align-items: center;
  justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	padding: 30px;
  position: relative !important;
}

.modal-content img{
  max-width: 100%;
  height: auto;
}

article iframe{
  display: block;
  margin: 0 auto;
  border: none;
  background: #fff;
}