@charset "utf-8";

body{
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  display: flex;
}

.title{
  width: 50%;
}

#now{
  width: 50%;
  text-align: right;
}

main{
  background: pink;
  padding-bottom: 100px;
  /* height: 100vh; */
}

article{
  width: 375px;
  margin: 24px auto 0;
  text-align: center;
}

footer{
  background: lightgreen;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright{
  padding: 20px;
  text-align: right;
}

/* kv */
.kv{
  width: 100%;
  text-align: center;
}

.kv-img{
  width: 100%;
  max-width: 1000px;
}

/* スライドショー */

img{
  vertical-align: bottom;
}

.container{
  display: flex;
  gap:8px;
  margin-top: 8px;
  justify-content: center;
}

button{
  all: unset;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
  background: #fff;
}

.thumbnail{
  cursor: pointer;
  opacity: .4;
}

.active{
  opacity: 1;
}

/* モーダルウィンドウ */
#open, #close{
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  background: #fff;
}

#mask{
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#modal{
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform .8s;
  z-index: 2;
}

#modal p{
  margin:0 0 20px;
}

#mask.hidden{
  display: none;
}

#modal.hidden {
  transform: translate(0, 100vh);
}

/* DOM */
.dom{
  text-align: center;
  z-index: 3;
}

.dom button{
  display: block;
  margin: 20px auto 0;
  z-index: 4;
}

.pink-bg{
  background: palevioletred;
}

.red-border{
  border:2px solid red;
}

.green-color{
  color: green;
}

/* jQuery modal */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .8;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.modal {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: none;
  z-index: 6;
}

.modal p{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: 14px;
}

.modal p img{
  width: 100%;
}

.modal-close__wrap {
  position: absolute;
  right: -13px;
  top: -120px;
  background:#fff;
  padding: 4px;
}

.modal-close {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
  z-index: 8;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.modal-open {
  cursor: pointer;
  background: orange;
  border: orange;
  color: #fff;
  padding: 10px 12px;
}


.overlay.open {
  display: block;
}

.modal.open {
  display: block;
}

/* jQuery carousel */
.slide-items{
  width: 100%;
  height: 100%;
}
.slide-items img{
  width: 100%;
  object-fit: cover;
}
.slide-items ul{
  margin: 10px;
  padding: 0;
}

.slick-slider{
  padding: 0 20px 0;
}

.slick-dots li button:before{
  font-size: 20px;
}

.slick-dots{
  right: 0;
}

.slick-prev:before, .slick-next:before{
  color: #333;
}